:root {
  --heading-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --card-heading-bg: linear-gradient(0deg, hsl(240, 18%, 83%), hsl(207, 27%, 87%));
}
@media (prefers-color-scheme: dark) {
  :root {
    --card-heading-bg: linear-gradient(90deg, hsl(180, 3%, 13%) 0%, hsl(163, 9%, 15%) 100%);
  }
}
.body-content {
  @apply max-w-screen-xl text-[14pt] mx-auto my-0 px-20 py-0;
  @apply my-10;
}
.rigs .about-section {
  @apply indent-8;
}
.rigs .cards {
  @apply text-left px-0 py-8;
}
.rigs .cards .rig-card {
  @apply w-full inline-block border-[color:var(--bg-secondary)] bg-cover bg-center shadow-lg text-left indent-8 p-8 rounded-md border-2 border-solid;
  background: var(--bg-gradient);
}
.rigs .cards .rig-card .card-header {
  @apply bg-transparent indent-0 mb-4 px-8 py-4 rounded-lg;
}
.rigs .cards .rig-card .card-header img {
  @apply w-full max-w-[540px] mx-auto my-0;
}
.rigs .cards .rig-card h2 {
  @apply border-b-[color:var(--bg-secondary)] mb-4 px-0 py-4 border-b-2 border-solid;
}

hr {
  color: #333333;
  overflow: visible;
  text-align: center;
  height: 0.25rem;
  margin: 1rem 0;
  border-top: 3px solid #333333;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-style: double;

  &::after {
    content: '';
    position: relative;
    top: -13px;
    padding: 0 0.25rem;
    background: transparent;
  }
}

.sacr-content {
  background-size: cover;
  text-align: left;
  justify-content: center;
  display: flex;

  .sacr-about {
    max-width: 1280px;
    flex-basis: 1280px;
    font-size: 1.125rem;
    width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;

    .sacr-area {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;

      img {
        border-radius: 0.75rem;
        box-shadow: var(--box-shadow-sm);
        display: inline-block;
        width: 80%;
      }
    }

    .breakdown p {
      text-indent: 1rem;
    }
  }
}

.sacr-downloads {
  justify-content: flex-start;
  display: flex;
  gap: 1.25rem;

  .branch {
    border: 2px solid var(--bg-secondary);
    flex-basis: 22em;
    min-width: 22em;
    height: 100%;
    display: inline-block;
    padding-bottom: 0.75rem;
    border-radius: 0.75rem;
    overflow: hidden;
    background: var(--bg-primary);

    .dwn-img-contain {
      background: var(--card-heading-bg);
      padding-top: 2rem;
      padding-bottom: 1rem;
      overflow: hidden;
      text-align: center;
      height: 8rem;

      img {
        width: 100%;
        max-width: 350px;
        box-shadow: none;
        filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
      }
    }

    .desc {
      height: 3.75rem;
      font-size: 1.125rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .dwn-btn-contain {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .version {
      font-size: 1.125rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      display: flex;
      border-bottom: 3px solid var(--bg-secondary);

      .build-tab {
        display: inline-block;
        flex-basis: 100%;
        border: 3px solid var(--bg-primary);
        border-bottom: 0;
        border-top-left-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
        padding: 0.5rem;
        cursor: pointer;
        background-color: var(--bg-secondary);
        transition: all 100ms;

        &:hover {
          background-color: var(--bg-accent);
          color: var(--tx-accent);
        }

        &:active {
          background-color: var(--bg-primary);
        }
      }

      .tab-active {
        display: inline-block;
        background-color: var(--bg-accent);
        border-color: var(--bg-accent);
        color: var(--tx-accent);

        &:hover {
          background-color: var(--bg-primary);
          color: var(--tx-primary);
        }
      }
    }

    .btn {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .rig-info {
      justify-content: flex-start;
      display: flex;

      .rig-info-item {
        display: inline-block;
      }
    }

    .rig-notes {
      height: 3.75rem;
    }
  }

  .stable .btn:hover {
    background-color: #99f6e4; // teal-200
    transform: scale(1.05);
  }

  .dev .btn:hover {
    background-color: #fde68a; // amber-200
    transform: scale(1.05);
  }
}
