:root {
  --card-heading-bg: linear-gradient(0deg, hsl(240, 18%, 83%), hsl(207, 27%, 87%));
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-heading-bg: linear-gradient(90deg, hsl(180, 3%, 13%) 0%, hsl(163, 9%, 15%) 100%);
  }
}

.body-content {
  max-width: 1280px; // screen-xl
  font-size: 14pt;
  margin: 2.5rem auto; // mx-auto + my-10 override
  padding: 0 5rem; // px-20
}

.rigs {
  .about-section {
    text-indent: 2rem; // indent-8
  }

  .cards {
    text-align: left;
    padding: 2rem 0; // py-8 px-0

    .rig-card {
      width: 100%;
      display: inline-block;
      border: 2px solid var(--bg-secondary);
      background-size: cover;
      background-position: center;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      text-align: left;
      text-indent: 2rem;
      padding: 2rem;
      border-radius: 0.375rem; // rounded-md
      background: var(--bg-gradient);

      .card-header {
        background: transparent;
        text-indent: 0;
        margin-bottom: 1rem;
        padding: 1rem 2rem; // py-4 px-8
        border-radius: 0.5rem; // rounded-lg

        img {
          width: 100%;
          max-width: 540px;
          margin: 0 auto;
        }
      }

      h2 {
        border-bottom: 2px solid var(--bg-secondary);
        margin-bottom: 1rem;
        padding: 1rem 0;
      }
    }
  }
}
