// Variables
$font-main: "Open Sans", sans-serif;
$font-heading: "Source Sans Pro", serif;

:root {
  /* Defaults */
  --bg-primary: 0, 0%, 97%;
  --bg-secondary: 0, 0%, 90%;
  --bg-accent: 340, 33%, 83%, 50%;
  --bg-contrast-light: 0, 0%, 20%;
  --bg-contrast-dark: 0, 0%, 10%;
  --bg-dark-accent: 334, 79%, 29%;

  --bg-gradient: linear-gradient(0deg, hsl(240, 23%, 97%), hsl(206, 100%, 97%));

  --tx-primary: 0, 0%, 0%;
  --tx-secondary: 0, 0%, 14%;
  --tx-accent: 334, 50%, 15%;
  --tx-contrast-light: 0, 0%, 90%, 1;
  --tx-contrast-dark: 0, 0%, 80%, 1;
  --tx-contrast-accent: 328, 62%, 85%;

  --tx-gradient: linear-gradient(
    90deg,
    hsl(297, 96%, 57%) 0%,
    hsl(328, 87%, 51%) 100%
  );

  /* Fonts */
  --font: #{$font-main};
  --font-weight: 400;
  --font-heading: #{$font-heading};
  --font-heading-weight: 600;

  /* Box Shadows */
  --box-shadow-xsm:
    0px 3px 5px -1px #00000033, 0px 2px 5px 0px #00000024,
    0px 1px 10px 0px #00000010;
  --box-shadow-sm:
    0px 3px 5px -1px #00000033, 0px 5px 8px 0px #00000024,
    0px 1px 14px 0px #0000001f;
  --box-shadow-lg:
    0px 3px 5px -1px #00000075, 0px 5px 8px 0px #00000079,
    0px 1px 14px 0px #00000036;

  --drop-shadow: drop-shadow(0.25rem 0.5rem 0.25rem #19191940);

  // Radius
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: 260, 2.5%, 5%;
    --bg-secondary: 260, 10%, 6.5%;
    --bg-accent: 334, 50%, 20%, 50%;
    --bg-contrast-light: 0, 0%, 80%;
    --bg-contrast-dark: 0, 0%, 70%;
    --bg-contrast-accent: 180, 10%, 80%;
    --bg-gradient: linear-gradient(
      45deg,
      hsl(240, 5%, 5%) 0%,
      hsl(168, 5%, 6%) 100%
    );

    --bg-gradient-dark: linear-gradient(
      45deg,
      hsla(330, 23%, 10%, 0%),
      hsl(310, 100%, 10%, 50%)
    );

    --tx-primary: 190, 8%, 85%;
    --tx-secondary: 0, 0%, 78%;
    --tx-accent: 328, 62%, 85%;
    
    --tx-contrast-light: 0, 0%, 90%, 1;
    --tx-contrast-dark: 0, 0%, 80%, 1;
    --tx-contrast-accent: 180, 62%, 85%;
    --tx-gradient: linear-gradient(
      90deg,
      hsl(299, 83%, 84%) 0%,
      hsl(328, 53%, 61%) 100%
    );
  }
}

* {
  transition-duration: 100ms;
}

*[hidden] {
  display: none;
  visibility: hidden;
}

body {
  color: hsl(var(--tx-primary));
  font-family: var(--font), serif;
  margin: 0;
  overflow-x: hidden;
 
  $bg-color: hsl(var(--bg-accent));
  $bg-white: hsl(var(--bg-primary));

	background: repeating-linear-gradient(transparent, transparent 8px, $bg-color 8px, $bg-color 12px, transparent 12px, transparent 16px, $bg-color 12px, $bg-color 32px, transparent 32px, transparent 36px, $bg-color 36px, $bg-color 40px, transparent 40px, transparent 64px), repeating-linear-gradient(90deg, transparent, transparent 8px, $bg-color 8px, $bg-color 12px, transparent 12px, transparent 16px, $bg-color 12px, $bg-color 32px, transparent 32px, transparent 36px, $bg-color 36px, $bg-color 40px, transparent 40px, transparent 64px), $bg-white;
	background-blend-mode: multiply;
	background-color: $bg-white;

}

/* Global Assets */
h1,
h2,
h3 {
  font-family: var(--font-heading), serif;
  font-weight: var(--font-heading-weight);
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

p {
  letter-spacing: 0.35pt;
}
// Header
header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  header-box {
    display: block;
    padding-block: 3rem;
    max-width: 1280px;
    margin: 0 auto;
    padding-inline: 6rem;
      
      header-content {
        width            : fit-content;
        padding          : 1rem;
        border-radius    : var(--radius-lg);
        box-shadow       : var(--box-shadow-lg);
        background-color : hsla(var(--bg-primary), 75%);
        backdrop-filter  : blur(4px);
        border           : 2px solid hsla(var(--tx-secondary), 25%);
        display          : block;
      
    }
  }
}

// Navigation
nav {
  nav-container {
    background-color: hsla(var(--bg-accent));
    color: hsl(var(--tx-primary));
    padding: 1rem;
    display: block;

    .nav-section {
      display: inline-block;
    }

    nav-title {
      display: inline-block;
      flex-basis: 2.5rem; // basis-10
      text-align: center;
      padding-inline: 1rem;
      padding-block: 0.25rem;
      font-weight: 600;
      background-color: hsla(var(--bg-primary), 75%);
      border-radius: var(--radius-lg);
      
      a {
        font-size: 14pt;
        letter-spacing: 0.5pt;
        padding: 3px 0.5rem;
        text-decoration: none;
        color: inherit;

        &:hover {
          color: hsl(var(--tx-accent));
          cursor: pointer;
        }
      }
    }

    nav-router {
      float: right;
      display: flex;
    }
  }

  sub-navigation {
    background-color: hsl(var(--bg-secondary));
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    display: block;
    text-align: right;
    
    nav-item a {
        color: hsl(var(--tx-contrast-light));
        
        &:hover {
          color: hsl(var(--tx-contrast-accent)) !important;
          box-shadow-color: hsl(var(--tx-contrast-accent)) !important;
          border-color: hsl(var(--tx-contrast-accent)) !important;
          border-radius: var(--radius-lg);
        }
    }
    .active a {
      color: hsl(var(--tx-contrast-accent)) !important;
      cursor: pointer;
      font-weight: 600;
      border-radius: 0;
      border: 2px solid transparent !important;
      border-bottom-color: hsl(var(--tx-contrast-accent)) !important;
      
      &:hover {
        border: 2px solid hsl(var(--tx-contrast-light)) !important;
        color: hsl(var(--tx-contrast-light)) !important;
        border-radius: var(--radius-lg);
      }
    }
    nav-arrow {
      display: inline-block;
      padding-inline: 0.5rem;
      color: hsl(var(--tx-contrast-light));
    }
  }
  
  .active a {
    color: hsl(var(--tx-accent)) !important;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0;
    border: 2px solid transparent !important;
    border-bottom-color: hsl(var(--tx-accent)) !important;

    &:hover {
      border: 2px solid hsl(var(--tx-primary)) !important;
      color: hsl(var(--tx-primary)) !important;
      border-radius: var(--radius-lg);
    }
  }

  nav-item {
    display: inline-block;
    flex-basis: 2.5rem; // basis-10
    text-align: center;
    padding-inline: 1rem;
    padding-block: 0.25rem;

    a {
      font-size: 14pt;
      letter-spacing: 0.5pt;
      padding: 3px 0.5rem;
      border-radius: var(--radius-lg);
      border: 2px solid transparent;
      box-shadow: 0 0 hsl(var(--tx-accent));
      text-decoration: none;
      color: inherit;

      &:hover {
        color: hsl(var(--tx-accent));
        box-shadow: 0 0 3px hsl(var(--tx-accent));
        border-color: hsl(var(--tx-accent));
        cursor: pointer;
      }
    }
  }
}

// Navigation and Header Mobile Responsive
@media screen and (max-width: 720px) {
  header {
    header-box {
      padding-inline: 1rem;
      margin-top: 2rem;
      text-align: center;
      
      header-content {
        display: inline-block;
      }
    }
  }
  
  nav {
    nav-container {
      padding: 0;

      .nav-section {
        display: block;
      }

      nav-title {
        padding-block: 1rem;
      }

      nav-router {
        padding-block: .25rem;
        text-align: center;
        background-color: hsl(var(--bg-primary), 75%);
        backdrop-filter: blur(4px);
        border-bottom: 2px solid hsla(var(--bg-accent));
        display: flex;
        width: 100%;
        padding-inline: 0;

        nav-item {
          min-width: fit-content;
          display: inline-block;
          flex-basis: 20%;
          padding: 0.5rem;
          
          a {
            letter-spacing: .5pt !important;
            font-size: 10pt;
          }
        }
      }
    }
    
    sub-navigation {
    display: flex;
    
      i {
        display: none;
        width: 0;
        height: 0;
      }
      nav-item {
        flex-basis: fit-content;
        padding-inline: 0;
        margin-inline: 0;
        a {
          font-size: 10pt;
        }
      }
      nav-arrow {
      }
    }
  }
}

// Footer Styling
footer {
  background-color: hsl(var(--bg-secondary));
  padding: 1rem;
  text-align: center;
  nav {
    padding-bottom: 2rem;
    ul {
      display: inline-block;
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: center;
      h2 {
        margin-block: 0;
      }
      li {
        display: inline-block;
        padding: 0.5rem;
        
        a {
          color: white;
        }
      }
    }
  }
}

// Error Page
error-404 {
  text-align: center;
  margin-block: auto;
  color: hsl(var(--tx-primary));
  padding: 1rem;

  h1 {
    font-size: 34pt;
    line-height: 1;
    color: hsl(var(--tx-accent));
    font-weight: 400;
    text-transform: uppercase;
    margin-block-start: 4rem;
    margin-block-end: 4rem;
  }

  p {
    margin-top: 2rem;
    font-size: 16pt;
  }
}

// Content Features
.btn-center {
  display: inline-block;
  text-align: center;
  width: 100%;
  text-indent: 0;
  padding-top: 1rem;
}

.btn {
  display: inline-block;
  color: hsl(var(--tx-primary));
  box-shadow: 0 0 hsl(var(--tx-accent));
  width: fit-content;
  min-width: 8em;
  border: 2px solid hsl(var(--tx-primary));
  padding: 0.3em 2em;
  border-radius: var(--radius-lg);
  cursor: pointer;
  text-decoration: none;
  transition: all 100ms;
  font-size: 14pt;
  margin-block: 0.5rem;

  &:hover {
    color: hsl(var(--bg-primary));
    background-color: hsl(var(--tx-accent));
    box-shadow: 0 0 3px hsl(var(--tx-accent));
    border-color: hsl(var(--tx-accent));
  }

  &:active {
    background-color: rgb(188, 122, 133);
  }
}

.btn-invert {
  display: inline-block;
  color: hsl(var(--bg-primary));
  box-shadow: 0 0 hsl(var(--tx-accent));
  background-color: hsl(var(--tx-accent));
  border: 2px solid hsl(var(--tx-primary), 0%);
  width: fit-content;
  min-width: 8em;
  padding: 0.3em 2em;
  border-radius: var(--radius-lg);
  cursor: pointer;
  text-decoration: none;
  transition: all 100ms;
  font-size: 14pt;

  &:hover {
    color: hsl(var(--tx-primary));
    box-shadow: 0 0 3px hsl(var(--tx-accent));
    background-color: hsl(var(--bg-secondary));
    border: 2px solid hsl(var(--tx-primary));
  }

  &:active {
    background-color: rgb(188, 122, 133);
  }
}

.link {
  color: hsl(var(--tx-accent));
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: hsl(var(--tx-accent), 50%);
    box-shadow: 0 0.1em hsl(var(--tx-accent), 50%);
  }
}

img {
  max-width: 100%;
}

heading h1 {
  background-color: hsl(var(--tx-accent));
  color: hsl(var(--bg-primary));
  width: fit-content;
  border: 2px solid hsl(var(--bg-contrast-dark));
  padding: 0.3em 2em;
  border-radius: var(--radius-md);
}

heading h2 {
  color: hsl(var(--tx-primary));
  width: fit-content;
  font-weight: var(--font-heading-weight);
  font-family: var(--font-heading), serif;
}

.content-container {
  margin-inline: auto;
  padding-block: 1rem;
  margin-block: 2rem;
  border-radius: var(--radius-lg);
  max-width: 1280px;
  background-color: hsl(var(--bg-secondary));
  border: 2px solid hsla(var(--bg-contrast-light), 20%);

  $margin: 4rem;
  $padding: 2rem;

  // Section Classes
  section {
    margin-inline: $margin;
    padding-block: 1rem;
    margin-block: 2rem;
    padding-inline: $padding;

    p {
      margin-bottom: 1rem;
      font-family: var(--font), serif;
      font-size: 16pt;
      line-height: 1.75;
    }
    span {
      display: block;
      margin-bottom: 1rem;
      font-family: var(--font), serif;
      font-size: 16pt;
      line-height: 1.75;
    }
    li {
      margin-bottom: 1rem;
      font-family: var(--font), serif;
      font-size: 16pt;
      line-height: 1.75;
    }
    heading h1 {
      // Reset Margin when inside Section
      margin-top: 0;
    }
    // Layouts
    column-container {
      display: grid;
      column-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      
      column {
        width: 90%;
        margin-inline: auto;
        padding: 1rem;
        height: auto;
        margin-bottom: 1rem;

        img {
          width: 80%;
          margin-inline: auto;
          display: block;
          filter: var(--drop-shadow);
          border-radius: var(--radius-md);
        }

        img-caption {
          text-align: center;
          width: 100%;
          display: block;
          padding-bottom: 0.3rem;
          
        }
        
        
        &[bg-color] {
          background-color : hsl(var(--bg-secondary));
          padding: 1rem;
          border: 2px solid hsla(var(--bg-contrast-light), 10%);
        }
        
        &[shadow] {
          box-shadow : var(--box-shadow-lg);
        }
        
        &[align-center-v] {
          align-items: center;
          vertical-align: middle;
          justify-content: center;
        }

        img {
          width: 80%;
          margin-inline: auto;
          display: block;
          filter: var(--drop-shadow);
          border-radius: var(--radius-md);
        }

        img-caption {
          text-align: center;
          width: 100%;
          display: block;
          padding-bottom: 0.3rem;
          
        }
        
        
        &[bg-color] {
          background-color : hsl(var(--bg-secondary));
          padding: 1rem;
          border: 2px solid hsla(var(--bg-contrast-light), 10%);
        }
        
        &[shadow] {
          box-shadow : var(--box-shadow-lg);
        }
        
        &[align-center-v] {
          align-items: center;
          vertical-align: middle;
          justify-content: center;
        }
        &[split] {
          border-radius: var(--radius-lg);
          overflow: hidden;
          width: 90%;
          margin-inline: auto;
          padding: 1rem;
          border: 2px solid hsla(var(--bg-contrast-light), 10%);
          box-shadow: var(--box-shadow-lg);
          min-height: fit-content;
          height: auto;
          margin-bottom: 1rem;
          background-color: hsla(var(--bg-primary), 50%);
        }
      }

      // Modifiers
      &[flow] {
        // Newspaper Style Column Layout, useful for long lists with a lot of items.
        display: block;
        column-width: 20rem;
      }
      
      
    }

    grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 1rem;

      grid-item {
        border-radius: var(--radius-lg);
        overflow: hidden;
        margin: 0 auto;
        height: auto;
        min-width: 20rem;
        width: 90%;
        padding: 1rem;
        box-shadow: var(--box-shadow-lg);
        font-size: 14pt;
        background-color: hsl(var(--bg-secondary));
        border: 2px solid hsla(var(--bg-contrast-light), 10%);


        &[gradient] {
          background-color: hsla(var(--bg-accent), 75%);
          background-image: var(--bg-gradient-dark);
          border: 2px solid hsla(var(--bg-contrast-light), 40%);
        }

        &[emphasis] {
          // Apply this attribute for grid cards which need extra visual emphasis

          background-color: hsla(var(--bg-accent));
        }
      }
    }

    // Modifiers
    &[full-width] {
      padding-inline: $margin;
      margin-inline: 0;
      background-color: hsla(var(--bg-secondary));
      border-inline-width: 0 !important;
      border-radius: 0 !important;
      
    }

    &[breakout] {
      background-color: hsla(var(--bg-accent));
      color: hsl(var(--tx-accent));
      border: 2px solid hsla(var(--tx-accent), 50%);
      border-radius: var(--radius-lg);
      
    }

    &[image] {
      // Background Image is set in the HTML
      padding-inline: $margin;
      margin-inline: 0;
      border-radius: var(--radius-lg);
    }
  }
}

// Content Media fixes
@media screen and (max-width: 720px) {
  .btn {
    font-size: 12pt;
  }
  .content-container {
    display: block;

    // Section Classes
    section {
      margin: 0 auto;
      padding-block: 1rem;
      padding-inline: 1rem;
      display: block;
      width: 90%;

      p {
        font-size: 12pt;
      }

      // Modifiers
      &[breakout] {
        border-top: none;
        padding-inline: 0;
        width: 100%;
        border-radius: 0;

        div.content {
          margin-inline: 3rem;
        }
      }

      // Layouts
      column-container {
        column {
          margin: 0 auto;

          img {
            margin: 0 auto;
            width: 80%;
          }
        }
      }

      grid-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        display: block;
        grid-item {
          display: block;
          width: 80%;
          margin-inline: auto;
          margin-top: 1rem;
          height: fit-content;
        }
      }
    }
  }
}
