// Variables
$font-main: "PT Sans", sans-serif;
$font-heading: "Source Sans Pro", serif;

:root {
  /* Defaults */
  --bg-primary: 0, 0%, 97%;
  --bg-secondary: 0, 0%, 90%;
  --bg-accent: 0, 23%, 33%;
  --bg-contrast-light: 0, 0%, 20%;
  --bg-contrast-dark: 0, 0%, 10%;
  --bg-dark-accent: 334, 79%, 29%;

  --bg-gradient: linear-gradient(0deg, hsl(240, 23%, 97%), hsl(206, 100%, 97%));

  --tx-primary: 0, 0%, 0%;
  --tx-secondary: 0, 0%, 14%;
  --tx-accent: 334, 79%, 29%;
  --tx-contrast-light: 0, 0%, 90%, 1;
  --tx-contrast-dark: 0, 0%, 80%, 1;
  --tx-contrast-accent: 328, 62%, 85%;

  --tx-gradient: linear-gradient(90deg,
      hsl(297, 96%, 57%) 0%,
      hsl(328, 87%, 51%) 100%);

  /* Fonts */
  --font: #{$font-main};
  --font-weight: 400;
  --font-heading: #{$font-heading};
  --font-heading-weight: 600;

  /* Box Shadows */
  --box-shadow-xsm:
    0px 3px 5px -1px #00000033, 0px 2px 5px 0px #00000024,
    0px 1px 10px 0px #00000010;
  --box-shadow-sm:
    0px 3px 5px -1px #00000033, 0px 5px 8px 0px #00000024,
    0px 1px 14px 0px #0000001f;
  --box-shadow-lg:
    0px 3px 5px -1px #00000075, 0px 5px 8px 0px #00000079,
    0px 1px 14px 0px #00000036;

  --drop-shadow: drop-shadow(.25rem .5rem 0.25rem #1f0109);

  // Radius
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: 350, 5%, 5%;
    --bg-secondary: 350, 10%, 10%;
    --bg-accent: 334, 60%, 20%;
    --bg-gradient: linear-gradient(45deg,
        hsl(240, 5%, 5%) 0%,
        hsl(168, 5%, 6%) 100%);

    --bg-gradient-dark: linear-gradient(45deg, hsla(330, 23%, 10%, 0%), hsl(310, 100%, 10%, 50%));

    --tx-primary: 190, 8%, 85%;
    --tx-secondary: 0, 0%, 78%;
    --tx-accent: 328, 62%, 85%;
    --tx-gradient: linear-gradient(90deg,
        hsl(299, 83%, 84%) 0%,
        hsl(328, 53%, 61%) 100%);
  }
}

* {
  transition-duration: 100ms;
}

*[hidden] {
  display: none;
  visibility: hidden;
}

body {
  background: hsl(var(--bg-primary));
  color: hsl(var(--tx-primary));
  font-family: var(--font), serif;
  margin: 0;
  overflow-x: hidden;
}

/* Global Assets */
h1,
h2,
h3 {
  font-family: var(--font-heading), serif;
  font-weight: var(--font-heading-weight);
}
h1 {
  font-size: 20pt;
}
h2 {
  font-size: 18pt;
}
h3 {
  font-size: 16pt;
}
p {
  letter-spacing: .35pt;
}

// Navigation
nav {
  .nav-contain {
    background-color: hsl(var(--bg-accent));
    color: hsl(var(--tx-primary));
    padding: 1rem;

    .nav-section {
      display: inline-block;
    }

    .nav-title {
      display: inline-block;
      flex-basis: 2.5rem; // basis-10
      text-align: center;
      padding: 0 1rem;

      a {
        font-size: 14pt;
        letter-spacing: 0.5pt;
        padding: 3px 0.5rem;
        text-decoration: none;
        color: inherit;

        &:hover {
          color: hsl(var(--tx-accent));
          cursor: pointer;
        }
      }
    }

    .router {
      float: right;
      display: flex;
    }
  }

  .active a {
    color: hsl(var(--tx-accent)) !important;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid hsl(var(--tx-accent)) !important;

    &:hover {
      border: 2px solid hsl(var(--tx-primary)) !important;
      color: hsl(var(--tx-primary)) !important;

    }
  }

  .nav-item {
    display: inline-block;
    flex-basis: 2.5rem; // basis-10
    text-align: center;
    padding: 0 1rem;

    a {
      font-size: 14pt;
      letter-spacing: 0.5pt;
      padding: 3px 0.5rem;
      border-radius: var(--radius-lg);
      border: 2px solid transparent;
      box-shadow: 0 0 hsl(var(--tx-accent));
      text-decoration: none;
      color: inherit;

      &:hover {
        color: hsl(var(--tx-accent));
        box-shadow: 0 0 3px hsl(var(--tx-accent));
        border-color: hsl(var(--tx-accent));
        cursor: pointer;
      }
    }
  }

  .sub-nav {
    background-color: hsl(var(--bg-contrast-light));
    color: hsl(var(--tx-contrast-light));
    text-align: right;
    padding: 1rem;

    .nav-arrow {
      display: inline-block;
      cursor: default;
      padding: 0;
    }

    .nav-item {
      display: inline-block;
      width: fit-content;
      padding: 0 0.5rem;
    }
  }

  .sub-nav-root,
  .sub-nav-item {
    display: inline-block;

    a {
      font-size: 14pt;
      letter-spacing: 0.5pt;
      padding: 3px 0.5rem;
      border-radius: var(--radius-lg);
      border: 2px solid transparent;
      box-shadow: 0 0 hsl(var(--tx-contrast-accent));
      text-decoration: none;
      color: inherit;

      &:hover {
        color: hsl(var(--tx-contrast-accent));
        box-shadow: 0 0 3px hsl(var(--tx-contrast-accent));
        border-color: hsl(var(--tx-contrast-accent));
        cursor: pointer;
      }
    }
  }

  .sub-nav-root {
    padding-left: 0;
    padding-right: 0.5rem;
  }
}

// Navigation Mobile Responsive
@media screen and (max-width: 720px) {
  nav {
    .nav-contain {
      padding: 0;

      .nav-section {
        display: block;
      }

      .nav-title {
        padding-block: 1rem;
      }

      .router {
        padding-block: .25rem;
        position: absolute;
        text-align: center;
        background-color: hsl(var(--bg-primary), 75%);
        backdrop-filter: blur(4px);
        border-bottom: 2px solid hsl(var(--bg-accent));
        display: flex;
        width: 100%;
        padding-inline: 0;

        .nav-item {
          font-size: 10pt;
          min-width: fit-content;
          display: inline-block;
          flex-basis: 20%;
          padding: 0.5rem;
        }
      }
    }
  }
}

// Header
.header-sizing {
  display: block;
  background-size: cover;
  background-position: center;
  padding-inline: 5%;

  .header-content {
    max-width: 1280px; // screen-xl
    margin: 0 auto;
    padding-block: 4rem;
  }

  .title {
    background-color: hsla(var(--bg-primary), .75);
    box-shadow: var(--box-shadow-lg);
    border: 2px solid hsl(var(--bg-secondary));
    border-radius: var(--radius-lg);
    display: inline-block;
    padding-block: 2.5rem;
    padding-inline: 3rem;
    backdrop-filter: blur(4px); // backdrop-blur-sm
    margin-inline: 5%;

    h1 {
      font-size: 24pt;
      font-weight: bold;
      background: var(--tx-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      margin: 0;
    }

    p {
      color: hsl(var(--tx-secondary));
      margin-bottom: 0;
      font-size: 1.25rem; // text-xl
    }
  }
}

@media screen and (max-width: 720px) {
  .header-sizing {
    .header-content {
      width: 100%;
    }

    .title {
      text-align: center;
      padding-inline: 2.5rem;

      h1 {
        font-size: 24pt;
      }
    }
  }
}

// Footer Styling
footer {
  background-color: hsl(var(--bg-secondary));

  grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 1rem;
    padding: 1rem;
    nav {
      ul {
        margin-block: 0;
        list-style-type: disc;
        li {
          a {
            font-size: 14pt;
            letter-spacing: 0.5pt;
            padding: 3px 0.5rem;
            border: 2px solid transparent;
            text-decoration: none;
            color: inherit;
            box-shadow: 0 0 inset transparent;

            ul {
              li {
                padding-inline: 1rem;
                a {
                  color: white;
                  text-decoration: none;
                }
              }
            }
            &:hover {
              color: hsl(var(--tx-contrast-accent));
              cursor: pointer;
              box-shadow: 0 -2px inset hsl(var(--tx-accent));
            }
          }
        }
      }
    }
  }
}

// Error Page
error-404 {
  text-align: center;
  margin-block: auto;
  color: hsl(var(--tx-primary));
  padding: 1rem;

  h1 {
    font-size: 34pt;
    line-height: 1;
    color: hsl(var(--tx-accent));
    font-weight: 400;
    text-transform: uppercase;
    margin-block-start: 4rem;
    margin-block-end: 4rem;
  }

  p {
    margin-top: 2rem;
    font-size: 16pt;
  }
}


// Content Features
.btn-center {
  display: inline-block;
  text-align: center;
  width: 100%;
  text-indent: 0;
  padding-top: 1rem;
}

.btn {
  display: inline-block;
  color: hsl(var(--tx-primary));
  box-shadow: 0 0 hsl(var(--tx-accent));
  width: fit-content;
  min-width: 8em;
  border: 2px solid hsl(var(--tx-primary));
  padding: 0.3em 2em;
  border-radius: var(--radius-lg);
  cursor: pointer;
  text-decoration: none;
  transition: all 100ms;
  font-size: 14pt;
  margin-block: .5rem;

  &:hover {
    color: hsl(var(--bg-primary));
    background-color: hsl(var(--tx-accent));
    box-shadow: 0 0 3px hsl(var(--tx-accent));
    border-color: hsl(var(--tx-accent));
  }

  &:active {
    background-color: rgb(188, 122, 133);
  }
}

.btn-invert {
  display: inline-block;
  color: hsl(var(--bg-primary));
  box-shadow: 0 0 hsl(var(--tx-accent));
  background-color: hsl(var(--tx-accent));
  border: 2px solid hsl(var(--tx-primary), 0%);
  width: fit-content;
  min-width: 8em;
  padding: 0.3em 2em;
  border-radius: var(--radius-lg);
  cursor: pointer;
  text-decoration: none;
  transition: all 100ms;
  font-size: 14pt;

  &:hover {
    color: hsl(var(--tx-primary));
    box-shadow: 0 0 3px hsl(var(--tx-accent));
    background-color: hsl(var(--bg-secondary));
    border: 2px solid hsl(var(--tx-primary));
  }

  &:active {
    background-color: rgb(188, 122, 133);
  }
}

.link {
  color: hsl(var(--tx-accent));
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: hsl(var(--tx-accent), 50%);
    box-shadow: 0 0.1em hsl(var(--tx-accent), 50%);;
  }
}
img {
  max-width: 100%;
}
heading h1 {
  background-color: hsl(var(--tx-accent));
  color: hsl(var(--bg-primary));
  width: fit-content;
  border: 2px solid hsl(var(--bg-secondary));
  padding: 0.3em 2em;
  border-radius: var(--radius-md);
}

heading h2 {
  color: hsl(var(--tx-primary));
  width: fit-content;
  font-weight: var(--font-heading-weight);
  font-family: var(--font-heading), serif;
}

.content-container {
  margin: 0 auto;
  max-width: 1280px;

  $margin: 6rem;

  // Section Classes
  section {
    margin-inline: $margin;
    padding-block: 1rem;
    margin-block: 2rem;

    p {
      margin-bottom: 1rem;
      text-indent: 3rem;
      font-family: var(--font), serif;
      font-size: 16pt;
      line-height: 1.75;
    }
    span {
      display: block;
      margin-bottom: 1rem;
      font-family: var(--font), serif;
      font-size: 16pt;
      line-height: 1.75;
    }

    // Layouts
    column-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      column-gap: 1rem;

      column {
        border-radius: var(--radius-lg);
        overflow: hidden;
        margin: 0 auto;
        height: fit-content;
        padding: 1rem;

        img {
          width: 100%;
          display: block;
          filter: var(--drop-shadow);
          border-radius: var(--radius-md);
        }

        img-caption {
          text-align: center;
          width: 100%;
          display: block;
          padding-bottom: .3rem;
        }

      }

      column[bg-color] {
        background-color: hsl(var(--bg-secondary));
      }

      column[shadow] {
        box-shadow: var(--box-shadow-lg);
      }
    }

    grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 1rem;

      grid-item {
        border-radius: var(--radius-lg);
        overflow: hidden;
        margin: 0 auto;
        height: auto;
        min-width: 25rem;
        padding: 1rem;
        box-shadow: var(--box-shadow-lg);
        font-size: 14pt;
        background-color: hsl(var(--bg-secondary));

        &:gradient {
          background-color: hsla(var(--bg-accent), 75%);
          background-image: var(--bg-gradient-dark);
        }

        &[emphasis] {
          // Apply this attribute for grid cards which need extra visual emphasis

          background-color: hsl(var(--bg-accent));
        }
      }
    }

    // Modifiers
    &[breakout] {
      padding-inline: $margin;
      margin-inline: 0;
      background-color: hsl(var(--bg-secondary));
      border-radius: var(--radius-lg);
    }

    &[accent] {
      background-color: hsl(var(--bg-accent));
      color: hsl(var(--tx-accent));
    }

  }

}

// Content Media fixes
@media screen and (max-width: 720px) {
  .btn {
    font-size: 12pt;
  }
  .content-container {
    display: block;


    // Section Classes
    section {
      margin: 0 auto;
      padding-block: 1rem;
      display: block;
      width: 90%;


      p {
        font-size: 12pt;
      }

      // Modifiers
      &[breakout] {
        border-top: none;
        padding-inline: 0;
        width: 100%;
        border-radius: 0;

        div.content {
          margin-inline: 3rem;
        }
      }

      // Layouts
      column-container {

        column {
          margin: 0 auto;

          img {
            margin: 0 auto;
            width: 80%;
          }
        }
      }

      grid-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

        grid-item {
          height: fit-content;
        }
      }

    }
  }
}
